/remoteControlClient/x64/Debug/vc142.pdb
/remoteControlClient/x64/Debug/vc142.idb
/remoteControlClient/x64/Debug/remoteControlClientDlg.obj
/remoteControlClient/x64/Debug/remoteControlClient.vcxproj.FileListAbsolute.txt
/remoteControlServer/x64/Debug
/remoteControlClient/x64/Debug
/remoteControlClient/remoteControlClient.aps
/remoteControlServer/.vs/remoteControlServer/v16
/remoteControlServer/remoteControlServer.vcxproj.user
